/*.hours::after,
.minutes::after {
  content: ":";
}*/

#clock {
  height: 300px;
  width: 300px;
  color: white;
  background-color: turquoise;
  text-align: center;
  line-height: 300px;
  font-family: 'Andale Mono', sans-serif;
  font-size: 50px;


}
